* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.firstpage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstpage__container {
  flex-basis: 55%;
  height: 100%;
  width: 100%;
}

.test {
  background-color: #5baab0;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 300px 300px 0px;
  border-right: 3px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.firstpage__bgimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  height: 100%px;
  width: 100%;
}

.firstpage__title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 80px;
  color: #ffffff;
}

.firstpage__title h3 {
  font-family: "Magra";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  color: #ffffff;
  margin-top: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.firstpage__body {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.firstpage__body p {
  font-family: "Strong";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19px;
  color: #000000;
}
.firstpage__body input {
  font-family: "Numans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
  padding: 2px 10px;
  border-radius: 6px;
  text-align: center;
  border: none;
  color: #000000;
}

.firstpage__body input::placeholder {
  font-size: 1.2rem;
}

.test .form-footer {
  padding-top: 5px;
}

.test .form-footer button {
  color: #13e6f5;
  border-style: none;
  margin-top: 5px;
  padding: 5px 30px;
  font-size: 1rem;
}

.form-footer button {
  background: #000000;
  border-radius: 5px;
  /* font-family: "Strong"; */
  font-style: normal;
  font-weight: 400;
  font-size: 0.83rem;
  line-height: 14px;
  color: #e1e9f1;
  padding: 1px 25px;
  cursor: pointer;
}

.form-footer button:disabled {
  display: none;
}

.form-footer button:hover {
  background: rgb(33, 40, 49);
  color: #ffffff;
}

.ratings__cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ratings__left {
  flex-basis: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  /* border-right: 2px #000000 solid; */
}

.ratings__left h1 {
  font-family: "Limelight";
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 39px;
  color: #151414;
  padding: 10px;
  text-align: center;
}

.rates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 30px;
  width: 60%;
}

.rate__cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.rate__cointainer p {
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: #000000;
}

.rate__cointainer input {
  font-family: "Numans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 14px;
  padding: 2px 30px;
  border-radius: 3px;
  text-align: center;
  background: #bfcddd;
  border: 2px solid #000000;
  color: #000000;
}

.ratings__left .form-footer {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.ratings__right {
  background-color: #5baab0;
  flex-basis: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings__right .card__cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  height: 85%;
  background-color: #bfcddd;
  border-radius: 12px;
  border: #000000 2px solid;
  /* padding: 20px; */
}

.ratings__right .card__cointainer .card__poster {
  flex-basis: 55%;
  height: 100px;
  transition: all 0.1s ease-in;
}

.ratings__right .card__cointainer .card__poster:hover {
  /* filter: grayscale(1); */
  transform: scale(1.02);
}

.ratings__right .card__cointainer .card__poster img {
  height: 100%;
  border: #000000 2px solid;
  border-radius: 10px;
}

.ratings__right .card__cointainer .card__details {
  /* flex-basis: 45%; */
  /* height: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.ratings__right .card__cointainer .card__details .card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 95%; */
  gap: 10px;
  flex-wrap: wrap;
}

.ratings__right .card__cointainer .card__details .card__title h1 {
  font-family: "Magra";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 35px;
  color: #1a1818;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.ratings__right .card__cointainer .card__details .card__title h5 {
  font-family: "Mako";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 26px;
  -webkit-text-stroke: #000000 1px;
  color: rgba(255, 255, 255, 0.8);
}

.ratings__right .card__cointainer .card__details .card__subinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.ratings__right .card__cointainer .card__details .card__subinfo h5 {
  font-family: "Mako";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: rgba(0, 0, 0, 0.8);
}

.ratings__right .card__cointainer .card__details .card__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.ratings__right .card__cointainer .card__details .card__body h5 {
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 700px) {
  .firstpage {
    flex-direction: column;
  }
  .test {
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    padding-bottom: 10px;
  }

  .firstpage__bgimage {
    padding: 20px;
  }
  .firstpage__bgimage img {
    height: 100%;
    width: 70%;
  }

  .ratings__cointainer {
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    gap: 20px;
  }

  .ratings__left {
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .ratings__left h1 {
    line-height: 57px;
  }

  .rate__cointainer p {
    font-size: 0.8rem;
    text-align: center;
  }

  .rate__cointainer input {
    font-size: 0.8rem;
    padding: 2px 20px;
  }

  .ratings__right {
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .ratings__right .card__cointainer {
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .ratings__right .card__cointainer .card__poster {
    flex-basis: 55%;
    height: 100px;
  }

  .ratings__right .card__cointainer .card__poster img {
    height: 100%;
    width: 100%;
    max-width: 400px;
  }
}

/* Result Page recommendations Card */

/* .recc > ul {
  background: radial-gradient(
    50% 50% at 50% 50%,
    hsla(184, 35%, 52%, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    hsl(184, 35%, 52%) 100%
  );
  isolation: isolate;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
} */

.recc > ul {
  isolation: isolate;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* height: 400rem; */
  /* width: 100vw; */
  background: linear-gradient(
    180deg,
    hsla(184, 35%, 52%, 100%),
    #ffffff,
    #bfcddd,
    #bfcddd,
    hsla(184, 35%, 52%, 100%),
    #ffffff
  );
  background-size: 100% 500%;
  animation: colorscroll 5s linear infinite;
}

@keyframes colorscroll {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.recc .card__cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: max-content;
  max-width: 50rem;
  /* box-shadow: 1rem 1rem 0.5rem hsla(0, 0%, 0%, 0.5); */
  /* gradient border */
  border: 5px solid Black;
  /* border-image: linear-gradient(
      to right,
      hsl(184, 35%, 52%),
      rgba(195, 20, 20, 0.5) 50%,
      rgba(142, 50, 172, 0.5) 50%,
      rgba(255, 255, 255, 0.5)
    )
    1; */
  border-radius: 10px;
  z-index: 3;
}

.recc .card__cointainer:hover .card__poster {
  transition: all 1s ease-in-out;
}

.recc .card__cointainer {
  position: relative;
}

.recc .card__cointainer .card__details {
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
  scale: 0;
  margin: 0.5rem;
}

.recc .card__cointainer:hover .card__details {
  opacity: 1;
  scale: 1;
}

.recc .card__cointainer:hover .card__cointainer {
  opacity: 0.5;
}

.recc .card__cointainer:hover .card__poster {
  filter: blur(2px);
  opacity: 0.2;
  z-index: 2;
}
